<a href="https://colab.research.google.com/github/mariola5/German_Credit_Risk/blob/main/German_Credit_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

German Credit Risk

##Import Bibliotek

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

#Import danych

In [2]:
german_df = pd.read_csv("/content/german_credit_data.csv")

In [4]:
german_df.head(3)

   Age     Sex  Job Housing  ... Credit amount Duration    Purpose  Risk
0   67    male    2     own  ...          1169        6   radio/TV  good
1   22  female    2     own  ...          5951       48   radio/TV   bad
2   49    male    1     own  ...          2096       12  education  good

[3 rows x 10 columns]

In [5]:
german_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Age               1000 non-null   int64
 1   Sex               1000 non-null   object
 2   Job               1000 non-null   int64
 3   Housing           1000 non-null   object
 4   Saving accounts   817 non-null    object
 5   Checking account  606 non-null    object
 6   Credit amount     1000 non-null   int64
 7   Duration          1000 non-null   int64
 8   Purpose           1000 non-null   object
 9   Risk              1000 non-null   object
dtypes: int64(4), object(6)
memory usage: 78.2+ KB

In [6]:
german_df.columns = german_df.columns.str.replace(" ", "_")

In [7]:
german_df.nunique()

Age                  53
Sex                   2
Job                   4
Housing               3
Saving_accounts       4
Checking_account      3
Credit_amount       921
Duration             33
Purpose               8
Risk                  2
dtype: int64